apply() - CALCULATE PROJECT SALARY NEXT YEAR

In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [8]:
df_salary = df[pd.notna(df['salary_year_avg'])]['salary_year_avg'].copy()

def projected_salary(salary):
    return salary * 1.03

# df_salary['salary_year_avg'].apply(projected_salary)

In [9]:
df_salary.apply(projected_salary)

28        112785.00
77        144200.00
92        123600.00
100       235068.66
109        91670.00
            ...
785624    143392.48
785641    154500.00
785648    228531.25
785682    162225.00
785692    162225.00
Name: salary_year_avg, Length: 22003, dtype: float64

In [11]:
# ALTERNATIVE

df_sal = df[pd.notna(df['salary_year_avg'])].copy()

In [14]:
# df_sal['salary_inflation'] = df_sal['salary_year_avg'].apply(lambda salary: salary * 1.03)

df_sal['salary_inflation'] = df_sal['salary_year_avg']*1.05

In [15]:
df_sal[['salary_year_avg', 'salary_inflation']].head(10)

     salary_year_avg  salary_inflation
28          109500.0          114975.0
77          140000.0          147000.0
92          120000.0          126000.0
100         228222.0          239633.1
109          89000.0           93450.0
116         114000.0          119700.0
146         129500.0          135975.0
180          90250.0           94762.5
212         157500.0          165375.0
257         103128.0          108284.4

************************  CONVERTING STRING OF LISTS BACK INTO LIST FORMAT     **********************

In [24]:
df['job_skills'][1]
# list[df['job_skills'][1]]

"['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']"

In [25]:
import ast

type(ast.literal_eval(df['job_skills'][1]))

list

***************************  CLEANING ENTIRE LIST  ********************************

ALTERNATIVE

In [26]:
def clean_list(skill_list):
    if pd.notna(skill_list):
        return ast.literal_eval(skill_list)

df['job_skills'] = df['job_skills'].apply(clean_list)

In [30]:
print(df['job_skills'][1])

['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']

In [ ]:
# df['job_skills'] = df['job_skills'].apply(lambda skill_list: ast.literal_eval(skill_list) if pd.notna(skill_list) else skill_list)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

**************************DIFFERNT INFLATION FOR SENIOR AND JUNIOR*************

def projected_salary(row):
    if "Senior" in row['job_title_short']:
        return 1.05 * row['salary_year_avg']
    else:
        return 1.03 * row['salary_year_avg']

df_salary['salary_year_inflated'] = df_salary.apply(projected_salary, axis=1)

df_salary[['job_title_short', 'salary_year_avg', 'salary_year_inflated']]